body {
    font-family:'Calibri' , sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

header {
    width:92vw;
    padding:6vh 4vw;
    position:fixed;
    font-weight:bold;
    background:transparent;
    color:#fff;
    transition:0.4s ease-in-out;
    z-index:2;
}
header table {
    width:100%;
}
#logo {
    width:20%;
}
#navigation {
    width:80%;
}
h4{
    color:rgb(2, 6, 58);
}
#logo {
    font-size:26px;
    color:rgb(21, 35, 224);
}
#navigation {
    text-align:right;
    color:rgb(21, 35, 224);
    font-size:20px;
}
#navigation a {
    color:inherit;
    text-decoration:none;
    padding:5px 10px;
    border-bottom:2px solid transparent;
    margin-left:4vw;
}
#navigation a:hover{
    border-bottom:2px solid #fff;
}
#top_part {
    width:100%;
    border:2vh solid #fff;
}
#top_part tr td{
    width:50%;
}
#about {
    width:84% !important;
    height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
}
#about h1 {
    font-size:45px;
    word-wrap:break-word;
}
#about table {
    width:70%;
    margin-top:4vh;
}
#about table tr td {
    width:20% !important;
    text-align:left;
}
.social {
    color:rgb(95, 17, 184);
    font-size:23px;
    padding:12px 17px;
    border-radius:50%;
    background:transparent;
    font-weight:bold;
    margin:0px 8px;
}
.social:hover { 
    cursor: pointer;
    color:#fff;
    background:rgb(220, 220, 223);
    box-shadow:0px 10px 30px rgba(220, 220, 223, 0.8);
}

#rightImage {
    width:100%;
    height:95vh;
    background:url("../images/myself.png") center center;
    background-size:cover;
    background-repeat:no-repeat;
}
#work {
    width:92vw;
    padding:6vh 4vw;
}
#work h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(36, 73, 146);
    width:6%;
    font-weight:bold;
}

#bio {
    width:92vw;
    padding:6vh 4vw;
}
#bio h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(36, 73, 146);
    width:33%;
    font-weight:bold;
}
#contact {
    width:92vw;
    padding:6vh 4vw;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(36, 73, 146);
    width:10%;
}
footer {
    width:100%;
    padding:5vh 0px;
    text-align:center;
    font-weight:bold;
    background: rgb(239, 239, 241);
}
#footer a {
    color:rgb(38, 59, 90);
    text-decoration:none;
}

@media (max-width: 1000px){
    
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
        position: relative;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    #contact table tr td {
        width:100%;
        display:block;
    }
    #work h1 {
        width:19%;
    }
    #work img{
        display:none;
    }
    #bio h1 {
        width:100%;
    }
    #contact h1 {
        width:33%;
    }
    header {
        width:96vw;
        background:rgb(209, 207, 241);
        padding:4vh 2vw;
        position:absolute;
        color:#000;
    }
   
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:10px 0px;
    }
    #navigation a {
        color:#000;
    }
    .grey_background{
        background:rgb(233, 227, 227);
    }
}